services:
  frontend:
    build:
      context: .
      dockerfile: Dockerfile
    container_name: frontend-app
    restart: always
    ports:
      - "3000:3000"
    environment:
      NEXT_PUBLIC_API_URL: http://backend-app:5000/api/
      NEXT_PUBLIC_IMAGE: http://backend-app:5000
      NEXTAUTH_SECRET: I44s8c044eZOnOFYRgkpONfxgbEtu5iuObu0h4JzlmA=
      NEXTAUTH_URL: http://76.13.187.228:3000
      NODE_ENV: production
    networks:
      - backend-network

networks:
  backend-network:
    external: true
    name: ppg_backend-network
