services:
  frontend:
    build:
      context: .
      dockerfile: Dockerfile
    container_name: m2bl-app
    restart: always
    ports:
      - "3001:3000"
    environment:
      - NEXT_PUBLIC_API_URL=https://api.ppgbdl.com/api
      - NEXT_PUBLIC_IMAGE=https://api.ppgbdl.com
      - NEXTAUTH_SECRET=I44s8c044eZOnOFYRgkpONfxgbEtu5iuObu0h4JzlmA=
      - NEXTAUTH_URL=https://kmm.ppgbdl.com
      - NODE_ENV=production
    healthcheck:
      test:
        [
          "CMD",
          "wget",
          "--no-verbose",
          "--tries=1",
          "--spider",
          "http://localhost:3001",
        ]
      interval: 30s
      timeout: 10s
      retries: 3
      start_period: 10s
    networks:
      - backend-network

networks:
  backend-network:
    external: true
    name: backend-kmm-new_backend-network