services:
  frontend:
    build:
      context: .
      dockerfile: Dockerfile
    container_name: frontend-app
    restart: always
    ports:
      - "3000:3000"
    environment:
      - NEXT_PUBLIC_API_URL=http://backend-app:5000/api/
      - NEXT_PUBLIC_IMAGE=http://backend-app:5000
      - NEXTAUTH_SECRET=I44s8c044eZOnOFYRgkpONfxgbEtu5iuObu0h4JzlmA=
      - NEXTAUTH_URL=http://localhost:3000
      - NODE_ENV=production
    healthcheck:
      test:
        [
          "CMD",
          "wget",
          "--no-verbose",
          "--tries=1",
          "--spider",
          "http://localhost:3000",
        ]
      interval: 30s
      timeout: 10s
      retries: 3
      start_period: 10s
    networks:
      - backend-network

networks:
  backend-network:
    driver: bridge
